{% extends "index.html"%}
{% block content %}

{% include "body.html" %}

{% if obj %}
{% for n in obj %}
 

<div class="container" style="height:100px;width:150%"><img src="{{ n.image.url }}" alt="Image is not available"  style="opacity:0.9;height:55px;width:55px;"/>
 <i style="color:orange">{{ n.name}} </i><b style="font-size:50px;color:{{ n.color }}">.</b>
<a href="/chatting/{{n.name}}" style="float:right"  class="btn" href="/requests/">
<input type="button" value="chat" /></a></p> 
</div>









</div></br>
{% endfor %}
{% endif %}
{% if not obj %}
<div  style="height:100px;width:150%"class="container"><i style="color:orange">0 friends yet </i></div>
{% endif %}

</body>
</html>
{% endblock%}

