<html>
<head>

<link rel='stylesheet' href="/static/css/bootstrap.min.css" type="text/css" >
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/min.js"></script>
<!--{% include 'body.html'%}-->
</head>
<body style="background-color:">

<div style="background-color:black;overflow:auto;padding:10px"><a style="color:white" href="/friends/"  >Back</a>
<!--<a class="btn" href="/video_call/{{f_name}}" style="background-color:;color:white;margin:1px;float:right"><i style="color:white;font-size:24px" class="fa">&#xf03d;</i></a> -->
</div></br>

<div style="" class="container" id="chats"></div>


<script>
size="";


function  show() {

      $.ajax({
        url: '/json/{{f_name}}',
        data: {
          'username': 'user'
        },
        dataType: 'json',
        success: function (data) {
      var i;
      size=data.obj.length;
      for(i=0;i<=data.obj.length;i++){
         if(data.obj[i]['name']== data.user ){

                             if(data.obj[i]['image'] != "" ){
         $('<div  ></div></br>').html("<img style='margin-left:30%;height:50%;width:50%' src='"+data.obj[i]['image']+"' />").appendTo('#chats');}

             if(data.obj[i]['msg'] != "" )
          $('<button style="float:right;font-family:arial;width:auto;padding:5px;border-radius:20px;padding:12px;border:none" class="bg-primary" ></button></br></br></br>').html(data.obj[i]['msg']).appendTo('#chats');

 }


  if(data.obj[i]['name']==data.f_name ){
                               if(data.obj[i]['image'] != "" ){
         $('<div  ></div></br>').html("<img style='margin-right:30%;height:50%;width:50%' src='"+data.obj[i]['image']+"' />").appendTo('#chats');}



           if(data.obj[i]['msg'] != "" ){
          $('<button style="float:left;font-family:arial;width:auto;background-color:#f2f2f2;padding:12px;border-radius:20px;border:none" class="text text-muted" ></button></br></br></br>').html(data.obj[i]['msg']).appendTo('#chats'); }

 }

          }
      }

})

 }


function check(){
   $.ajax({
        url: '/chat_size/{{f_name}}',
        data: {
          'username': 'user'
        },
        dataType: 'json',
        success: function (data) {
            if(size == data.size){ }
   else{ $('#chats').html("");
         show();};

       }
   })
}



setInterval(check,1000);
show();

</script>


<center>

<div class="container" style="display:blocked">
 <div class="row" style="border:4px solid #f2f2f2;border-radius:20px">
   <form action="/chatting_process/{{f_name}}" method="post" id="login-form"  enctype="multipart/form-data">
   {% csrf_token %}


     <input id="f" maxlength="254" name="image"  type="file" placeholder="Image" style="width:0px;height:0px"/>
     <img onclick="get()" value="open" placeholder="image"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI0-t9KPvTHhyH7cFtQehd1AclTC6ShC7ATg&usqp=CAU"
      style="opacity:0.9;width:8%;height:8%;" class="img" />



     <input style="opacity:0.8;height:10%;width:60%;border:none;box-shadow:3px #f2f2f2"  placeholder="    write something" autofocus="" id="id_username" maxlength="137"  name="msg" type="text"/>

  <input type="submit"  style="width:0px;height:0px;visibility:hidden" id='sendme'/>
   <img onclick="send()"  placeholder="image"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnvGNIapBzFlAIb94j1mPcILHHyTtkUPNMKg&usqp=CAU"
     style="opacity:0.9;width:10%;height:10%;transform:rotate(47deg)" class="img" />
  </form>
 </div>
</div>



<script>
 function get(){
var file =document.getElementById('f');
file.click();
}

 function send(){
var file =document.getElementById('sendme');
file.click();
}



</script>
</body>
</html>
