{% extends "index.html"%}
{% block content %}

<!--{% include "body.html" %}-->
</br>
</br>
</br>
<div class="container" style="background-color:white;;";>

{% if obj %}
{% for n in obj %}



<div class="jumbotron pills" style="box-shadow:1px 2px #f2f2f2"><img src="{{ n.image.url }}" class="img img-circle" alt="Image is not available"  style="opacity:0.9;height:55px;width:55px;"/>
 <span style="font-family:verdana;color:grey" >{{ n.name}} </span><b style="font-size:50px;color:{{ n.color }}">.</b>
  <div style="float:right;margin-top:4%">

<a href="/accept_request/{{n.name}}" style="margin:0px" class="btn" href="/requests/">
<input type="button" class="btn btn-dark text-deafult" value="accept" />
</a>

<a href="/decline_request/{{n.name}}" style="margin:0px"class="btn" href="/requests/">
<input type="button" class="btn btn-dark text-deafult" value="decline" />
</a>

</div></br>
{% endfor %}
</div>
{% endif %}
{% if not obj %}
<div  style="height:100px;width:150%"class="container"><i class="alert text-default">0 friend requests </i></div>
{% endif %}

{% endblock%}

