<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/min.js"></script>
{% include 'body.html'%}
</head>
<body style="background-color:black;height:100%">
<div style="background-color:black;overflow:auto"><a class="btn" href="/chatting/{{name}}" style="background-color:orange;color:white;margin:1px">Back</a>

</div></br>
<div>
<iframe src="https://appr.tc/r/{{channel}}" style="height:90%;width:100%"></iframe>
<div>

